/.vagrant
/software
/modules/concat
/modules/connect
/modules/easy_type
/modules/em_utils
/modules/filemapper
/modules/jdk7
/modules/limits
/modules/nfs
/modules/ora_config
/modules/ora_install
/modules/sleep
/modules/stdlib
/modules/swap_file
/modules/sysctl
/modules/timezone
/modules/wls_config
/modules/wls_install
/modules/yamlfile
.byebug_history
/.librarian
/.tmp
/modules/software
.DS_Store
/wls12.box
/modules/ora_cis
*.vdi
/modules/ssh_access
/modules/ssh
/modules/partition
/modules/ora_rac
/modules/firewall
/modules/augeasproviders
/modules/ora_profile
/modules/firewalld
/modules/echo
/modules/debconf
/modules/augeasproviders_sysctl
/modules/augeasproviders_core
/modules/archive
/grid.tgz
/.redo_3.txt
/.racmaster.txt
/.rac122a.txt
/.ocr_3.txt
/.netrc
/.fra_3.txt
/.data_3.txt
/modules/bind
/modules/
